<div class="col-md-4 text-center banner_text home-section">
      <h1>Neighbours Helping Neighbours</h1>
      <h4>Good, Honest, Work.</h4>
     <p>***BETA SITE, DESKTOP ONLY***</p>
     
          <a href="#" class="btn btn-lg login_popup btn-blue">Post a Task</a>
           <!-- <a href="<?php echo base_url('taskercontroller/browse_tasks'); ?>" class="btn btn-lg btn_browsTask pull-left">Browse Task</a> -->
</div>
    