<div class="modal-header">
            <h3 class="modal-title" id="modal-title">Register</h3>
        </div>
        <div class="modal-body" id="modal-body">
                <a ng-click="facebookLogin()" class="btn btn-facebook btn-block">Continue using Facebook</a>
                <a ng-click="googleLogin()" class="btn btn-google btn-block">Continue using Google</a>
        </div>
        <div class="modal-footer">
            <p>Don't have an account?&nbsp;<a ng-click="openReg()">Sign Up</a></p>
        </div>
    </script>
