<!-- Page Content -->
    <section id="overview-tasks" class="page-content bg-shade jumbotron">
        <div class="container">
            <div class="row">
                <div id="task-post">
                    <div class="col-md-12">
                        <div class="holder clearfix">
                            <h6>You have been logged in to Taskoli</h6>
                            <!-- <p>Please check your email and verify your email address. You will be redirected to the homepage in a few seconds...</p> -->
                            <p>You will be redirected to your profile in a few seconds...</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="support" class="page-content">
        <div class="overlay-black"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <h1 class="text-uppercase">Support</h1>
                    <p class="head-lead">Need any help? Contact us below.</p>
                    <p>&nbsp;</p>
                    <a ui-sref="pages.contact" class="btn btn-white btn-lg">Drop us a line</a>
                </div>
            </div>
        </div>
    </section>