<div class="row popup-task" role="dialog">

  <div class="modal-body">
    <div class="clearfix">

      <wizard on-finish="btn_post_task(task)">
        <wz-step wz-title="Post Task">

          <form class="form-horizontal ng-pristine ng-invalid ng-invalid-required ng-valid-minlength" id="forms" method="post" enctype="multipart/form-data"
            name="userForm" novalidate="" ng-submit="userForm.$invalid" accept-charset="utf-8">
              <div class="col-md-12">
                <h6 class="modal-title text-center" id="myModalLabel">Post Task</h6>
                <label for="task_name">Give a title to your task</label>
                <div class="form-group" ng-class="{ 'has-error' : userForm.task_title.$invalid && !userForm.task_title.$pristine }">
                  <input type="text" name="task_title" ng-model="task.task_title" id="task_title" class="form-control" placeholder="e.g. Clean my house"
                    ng-minlength="10" required/>
                  <p ng-show="userForm.task_title.$error.minlength" class="help-block">Minimum Character Required Length: 10</p>
                </div>
                <input type="hidden" name="user_id" ng-model="task.user_id" />
                <div class="form-group" ng-class="{ 'has-error' : userForm.task_description.$invalid && !userForm.task_description.$pristine }">
                  <textarea class="form-control describe_task" name="task_description" ng-model="task.task_description" id="task_description"
                    placeholder="Let's describe your Task in more details. (better desriptions recieve better offers.)" rows="3"
                    ng-minlength="25" required></textarea>
                  <p ng-show="userForm.task_description.$error.minlength" class="help-block">Minimum Character Required Length: 25</p>
                </div>

                <!-- <span class="character_detail"><div class='alert alert-danger'>Minimum Character Required Length: 25</div></span> -->
                <div id="image_upload" class="form-group">
                  <label for="task_name">Do you have any pictures of your task?</label> <br>

                  <input type="file" ngf-drop ngf-select ng-model="files" name="task_img" class="drop-box" ngf-drag-over-class="'dragover'"
                    ngf-multiple="true" ngf-allow-dir="true" accept="image/*" ngf-pattern="'image/*'" ngf-max-size="20MB" />
                  <div ngf-no-file-drop>File Drag/Drop is not supported for this browser</div>
                  <ul id="task_imgs">
                    <li ng-repeat="imag_url in imag_urls">
                      <img src="{{apiURL}}/file/{{imag_url}}" />
                    </li>
                  </ul>
                  <!--<div class="dropzone" options="dzOptions" callbacks="dzCallbacks" methods="dzMethods" ng-dropzone></div>-->
                </div>

                <div class="form-group">
                  <label for="task_budget">What is your budget?</label>
                  <br/>
                  <div class="col-md-12 no-padding budget_main">
                    <div class="col-lg-5 no-padding" ng-class="{ 'has-error' : userForm.task_budget.$invalid && !userForm.task_budget.$pristine }">
                      <input type="number" name="task_budget" ng-model="task.task_budget" class="form-control" id="task_budget" placeholder="$"
                        ng-minlength="1" required/>
                      <p ng-show="userForm.task_budget.$error.minlength" class="help-block">Minimum Character Required Length: 1 </p>
                    </div>
                  </div>

                </div>
                <!-- <span class="budget_detail"><div class='alert alert-danger'>Minimum Character Required Length: 1 </div></span> -->

                <div class="col-md-12 date-time">
                  <label for="task_name">When will this Task take place?</label> <br>
                  <div class="col-md-6 no-pad-left">
                    <input mdc-datetime-picker="" date="true" time="true" type="text" id="datetime" placeholder="Date & Time" show-todays-date="true"
                      format="dddd, MMM, DD, YYYY hh:mm A" min-date="CurrentDate" short-time="true" ng-model="task.start_date"
                      class="form-control md-input" readonly="readonly" required>
                  </div>

                  Would you like this done sooner? <input type="checkbox" ng-model="task.task_sooner" name="task_sooner"
                    ng-init="task.task_sooner=1" value="1">

                </div>
                <!-- <span class="dateTime_detail"><div class='alert alert-danger'>Select DATE & TIME.</div></span> -->
                <br/>
                <div class="clearfix"></div>
                <div class="col-md-12 no-padding">
                  <input type="text" name="location" id="us21-address" class="form-control col-md-8" g-places-autocomplete="" options="autocompleteOptions"
                    ng-model="task.task_location" placeholder="Were will this Task take place?" />
                  <a id="get_my_location" class="col-md-4 pull-right btn btn-default">Get My Location</a>
                  <span class="map_detail"></span>
                </div>
                <div class="clearfix"></div>

                <a wz-next ng-disabled="userForm.$invalid" ng-click="setPopupData()" class="btn btn-secondary-gradient btn-xl btn-post-tast">Let's Taskoli</a>

                <p class="text-center">Would you like a quote from available Takers?</p>
                <a class="pull-right" ng-click="clearForm()" id="clear_form">Clear Form</a>
                </form>
              </div>
        </wz-step>
        <wz-step wz-title="Review Task">
          <div class="col-md-12">
            <h6 class="modal-title text-center" id="myModalLabel">Review Your Task</h6>
            <h6 id="task_title_preveiw">{{task.task_title}}
              <span class="payment_icon">
                    <i uib-popover="Paypal" popover-trigger="'mouseenter'" ng-class="userData[0].paypal_active==1 && 'over-icons'" class="fa fa-paypal" aria-hidden="true"></i>
                    <i uib-popover="Stripe" popover-trigger="'mouseenter'" ng-class="userData[0].stripe_active==1 && 'over-icons'" class="fa fa-cc-stripe" aria-hidden="true"></i>
                    <i uib-popover="Cash" popover-trigger="'mouseenter'" ng-class="UserData[0].cash_active==1 && 'over-icons'" class="fa fa-usd"   aria-hidden="true"></i>
                  </span>
            </h6>
            <small class="location_of_task">{{task.task_location['formatted_address']}}</small>
            <small>( this will not be shown to other users. )</small>
            <div class="col-md-12 no-padding budget_taskDue">
              <div class="col-md-4 no-padding text-center">
                <div class="btn btn-budget">Budget $<span id="budget_amount">{{task.task_budget}}</span></div>
              </div>
              <div class="col-md-8 no-pad-right">
                <div class="task_due_date">
                  <strong>Task Due Date</strong><br>
                  <span id="choosen_date">{{task.start_date | date:'EEEE MMM, dd, yyyy hh:MM a'}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-12 no-padding desc">
              <h6>Description</h6>
              <div class="task_desc" placeholder="Task Description">{{task.task_description}}</div>
            </div>
            <input type="hidden" name="img_name" ng-model="task.img_name" ng-init="task.img_name=imag_urls">
            <div class="col-md-12 no-padding task_photo">
              <ul id="task_imgs">
                <li ng-repeat="imag_url in imag_urls">
                  <img src="{{apiURL}}/file/{{imag_url}}" />
                </li>
              </ul>
              <!-- <img ng-repeat="imag_url in imag_urls" style="width:100px;" src="{{apiURL}}/file/{{imag_url}}"/> -->
            </div>

            <div class="col-md-12 no-padding address_map">
              <ng-map center="{{data.lat}},{{data.lng}}" geo-callback="callbackFunc('you')" zoom="10" zoom-control="true" class="map">
                <marker draggable="true" position="{{data.lat}},{{data.lng}}"></marker>
              </ng-map>
            </div>
            <div class="col-md-12 no-padding text-center post_task_btn">
              <!-- <div
                      class="recaptcha_google"
                      vc-recaptcha
                      key="'6Lf5SQsUAAAAAI1LVpe4CVfnh1KN6-9f_rcdmoVJ'",
                      theme="light"
                  ></div> -->
              <button wz-next name="submit" class="btn btn-secondary-gradient btn-xl btn-post-task">Post Task</button>
              <a ng-click="editTask()" class="btn btn-secondary-gradient btn-xl edit_task" href="#">Back</a>
            </div>
          </div>
        </wz-step>

      </wizard>


    </div>
  </div>