 <div class="main-container">
          <div class="infowindow" id="browsertask_info">
            <div class="col-md-8 no-pad-left left">
              <h6 class="title_task"><span id="task_title_api">{{selectedData.task[0].task_title}}</span><small> ( < 5km )</small></h6>
              <p>Posted <span id="task_date_ago_api" am-time-ago="selectedData.task[0].start_date"></span> ago.</p>
              <div id="task_id" style="visibility:hidden"></div>
              <div class="col-md-12 no-padding offers">

                <div ng-init="popoverOpened1=false" ng-mouseover="popoverOpened1=true" ng-mouseleave="popoverOpened1=false" class="btn btn-primary btn-lg offer-btn">
                  <span popover-placement="right-top" uib-popover-template="offersList.templateUrl" popover-is-open="popoverOpened1">Offers<br>
                    <span id="offer_count">{{selectedData.bids.length}}</span>
                  </span>
                </div>

                <div ng-if="myOffer != current_user_id && selectedData.task[0].user_id != current_user_id" class="btn btn-success btn-lg budget-btn" popover-placement="right-top" uib-popover-template="makerOffer.templateUrl">
                  <span>Budget<br>{{selectedData.task[0].task_budget | currency:'$ '}}
                    <span id="task_budget_api"></span><br>
                    Make an Offer
                  </span>
                </div>

                <div ng-if="myOffer == current_user_id || selectedData.task[0].user_id == current_user_id" class="btn btn-success btn-lg budget-btn" popover-placement="bottom" uib-popover="Already Made Your Offer or Can't Made" popover-trigger="'mouseenter'">
                  <span>Budget<br>{{selectedData.task[0].task_budget | currency:'$ '}}
                    <span id="task_budget_api"></span><br>
                    Make an Offer
                  </span>
                </div>


                <div class="text-center count_down">
                <p>Task Due:{{selectedData.task[0].start_date | date:'EEE dd, MMM, yyyy'}}</p>
                <span ng-cloak countdown='' date='{{selectedData.task[0].start_date}}'>&nbsp;</span>
                </div>
              </div>

              <div class="col-md-12 no-padding ask_abt" ng-if="selectedData.task[0].user_id != current_user_id"><a ng-click="ask_question(113,'lg')" class="btn btn-default pull-right ask-btn">Ask About This Task</a></div>
              <h6>About This Task</h6>
              <div class="about_task" id="task_description_api">{{selectedData.task[0].task_description}}</div>
              <div class="col-md-12 no-padding tag_pics">
                <div class="col-md-12 no-padding task-picture" id="task_img_api">
				<a  ng-repeat="img in selectedData.images" class="fancybox-thumbs" rel="fancybox-thumbs" href="{{apiURL}}/file/{{img.task_img}}"><img src="{{apiURL}}/file/{{img.task_img}}" alt="" fallback-src></a>
				</div>
                <div class="col-md-12 no-padding task_qa">
                  <h6>Task Q & A</h6>
                  <ul id="task_quiz_api">
          					<li ng-click="qs_ans_chat(row.id,row.by_task,row.task_id,'lg')" ng-repeat="row in selectedData.questions">
            					<div class="image_holder">
            						<img id="quiz_user_image_api" src="{{row.user_image}}" alt="No Image" fallback-src>
            					</div>
            					<div class="name_timestamp">
            						<div class="user_name pull-left">
            						<a href="#" id="quiz_user_name_api">{{row.name}}</a>
            					</div>
            					<div class="time_stamp pull-right" id="quiz_date_ago_api" am-time-ago="row.date"></div> <hr>
            					<div class="question">Q: {{row.message}}</div>
            					</div>
          					</li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 no-pad-right right">
              <div class="img-holder"><img class="img-circle" id="user_image_api" src="{{selectedData.task[0].user_image}}" alt="No Image" fallback-src></div>
              <h6 class="text-center user_name"><a href="" id="user_id_api">{{selectedData.task[0].name}}</a></h6>
              <div class="col-md-12 no-padding text-center user_rating">
				<!-- <span id="task_rating_api">
          <jk-rating-stars rating="selectedData.task[0].avg_rate" read-only="true" ></jk-rating-stars>
        </span> -->

        <span id="task_rating_api" class="col-md-12 no-padding" 
            uib-rating 
            ng-model="selectedData.task[0].avg_rate" 
            titles="ratingTitle"
            max="5" 
            read-only="true" 
            on-leave="overStar = null" 
            aria-labelledby="default-rating"></span>

			  </div>
              <div class="col-md-12 no-padding text-center method_of_payment">
				  <span id="paypal_active"><i class="fa fa-paypal" ng-class="selectedData.task[0].paypal_active==1 && 'over-icons'" uib-popover="Paypal" popover-trigger="'mouseenter'"></i></span>

				  <span id="stripe_active"><i class="fa fa-cc-stripe" ng-class="selectedData.task[0].stripe_active==1 && 'over-icons'" uib-popover="Stripe" popover-trigger="'mouseenter'"></i></span>

				  <span id="cash_active"><i class="fa fa-usd" ng-class="selectedData.task[0].cash_active==1 && 'over-icons'" uib-popover="Cash" popover-trigger="'mouseenter'"></i></span>
			  </div>
              <div class="col-md-12 no-padding text-center other_task" id="other_task_link">
      			  	<a class="btn btn-default btn-small" ng-click="myTasks('employer', 'lg',selectedData.task[0].user_id)">Other Tasks</a>
      			  </div>
              <div class="col-md-12 no-padding text-center member_since">
                <div class="text-center" id="member_since_info">Member Since {{selectedData.task[0].date | date:'dd, MMM, yyyy'}}</div>
                <span id="task_track_api">
                  <a ng-if="current_user_id != selectedData.task[0].user_id && tracked_tasks.indexOf(selectedData.task[0].id) >= 0" class="btn btn-default btn-small track_tasks" ng-disabled="true">Task Tracked</a>
                  
                  <a ng-if="current_user_id != selectedData.task[0].user_id && tracked_tasks.indexOf(selectedData.task[0].id) == -1" class="btn btn-default btn-small track_tasks" ng-click="trackTask(selectedData.task[0].id)" ng-disabled="disabledBtn">{{trackTaskTitle}}</a>
			        
        				</span>
              </div>
              <div class="col-md-12 no-padding text-center share_task">
				  <!--<i class="fa fa-facebook-official" aria-hidden="true" id="task_share_facebook"></i>-->
				  <i socialshare
				  socialshare-provider="facebook"
				  socialshare-text="Taskoli"
				  socialshare-title="{{selectedData.task[0].task_title}}"
				  socialshare-description="{{selectedData.task[0].task_description}}"
				  socialshare-url="../task_overview?id={{selectedData.task[0].id}}"
				  class="fa fa-facebook-official" 
				  aria-hidden="true"></i>
				  <!--<i class="fa fa-twitter-square" aria-hidden="true"></i>-->
				  <i socialshare
				  socialshare-provider="twitter"
				  socialshare-text="{{selectedData.task[0].task_title}}"
				  socialshare-hashtags="Taskoli"
				  socialshare-url="../task_overview?id={{selectedData.task[0].id}}"
				  class="fa fa-twitter-square" 
				  aria-hidden="true"></i>
				  <!--<i class="fa fa-google-plus-square" aria-hidden="true"></i>-->
				  <i socialshare
				  socialshare-provider="google"
				  socialshare-url="../task_overview?id={{selectedData.task[0].id}}"
				  class="fa fa-google-plus-square" 
				  aria-hidden="true"></i>
			  </div>
              <div class="col-md-12 no-padding" id="carousel_slider">
                <div uib-carousel active="0" interval="5000" no-wrap="false">
                <div uib-slide ng-repeat="related in selectedData.related track by $index" index="$index">
                  <div class="image_holder">
                    <img ng-src="{{related.user_image}}" style="margin:auto;" width="150" heigh="150" fallback-src>
                  </div>
				          <div class="user_info">
                    <a href="#" id="related_user_name_api">{{related.name}}</a>
                    <span id="task_rating_api" class="col-md-12 no-padding" 
                    uib-rating 
                    ng-model="related.avg_rate" 
                    max="5" 
                    titles="ratingTitle"
                    read-only="true" 
                    on-leave="overStar = null" 
                    aria-labelledby="default-rating"></span>
                  </div>
                  <div class="related_task_detail">
                    <h6 class="text-center task_title">{{related.task_title}}</h6>
					           <div class="col-md-12 no-paddint text-center task_due">
                        <span id="related_task_date"></span>{{related.start_date | date:'EEEE dd, MMM, yyyy'}} ( < 5km )
                      </div>
                    <p>{{related.task_location}}</p>
                  </div>
                
              </div>
              </div>
              <div class="col-md-12 no-padding report"><span id="task_report"></span ></div>
            </div>
          </div>
          </div>