<section id="browse-tasks" class="bg-shade">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-4 list-tasks no-padding">
        <div id="browser-directory">
          <div class="holder no-padding">
            <div id="browser-filter" class="search_task">

              <div class="col-md-12 no-padding" id="task_search">
                <div class="search_bar" id="search_bar">
                  <input class="form-control" name="detailed_search" id="detailed_search" type="text" placeholder="Search..." ng-model="search.detailed_search"
                    ng-model-options="{ debounce: 500 }" ng-focus="toggleSearchBar('focus')">
                  <a href="#" class="pull-right clear"><i ng-click="clearSearch(search)" class="fa fa-times-circle" aria-hidden="true"></i></a>
                  <!-- <hr> -->

                  <div ng-hide="toggle" class="col-md-12 no-padding" id="search_tabs">
                    <ul class="nav nav-tabs">
                      <li class="active"><a data-toggle="tab" href="#status">Status</a></li>
                      <li ng-click="broadcast()"><a data-toggle="tab" href="#price">Price</a></li>
                      <li ng-click="broadcast()"><a data-toggle="tab" href="#distance">Distance</a></li>
                      <li><a data-toggle="tab" href="#posted">Posted</a></li>
                      <li><a data-toggle="tab" href="#city">City</a></li>
                    </ul>

                    <div class="tab-content">
                      <div id="status" class="tab-pane fade in active">
                        <label ng-model="search.task_status" uib-btn-radio="'all'">All</label>
                        <label ng-model="search.task_status" uib-btn-radio="'open'">Open</label>
                        <label ng-model="search.task_status" uib-btn-radio="'tasked'">Tasked</label>
                      </div>
                      <div id="price" class="tab-pane">
                        <rzslider rz-slider-model="priceSlider.minValue" rz-slider-high="priceSlider.maxValue" rz-slider-options="priceSlider.options"
                          rz-slider-step="priceSlider.step"></rzslider>
                      </div>

                      <div id="distance" class="tab-pane">
                        <rzslider rz-slider-model="distanceSlider.minValue" rz-slider-high="distanceSlider.maxValue" rz-slider-options="distanceSlider.options"></rzslider>
                      </div>

                      <div id="posted" class="tab-pane">
                        <label ng-model="search.posted" uib-btn-radio="'newest'">Newest</label>
                        <label ng-model="search.posted" uib-btn-radio="'oldest'">Oldest</label>
                      </div>
                      <div id="city" class="tab-pane">
                        <input type="text" id="city_name" name="city_name" ng-model="search.city_name" class="form-control" placeholder="City Name"
                          value="<?php if(isset($selected['base_location'])){echo $selected['base_location'];} ?>" ng-model-options="{ debounce: 500 }">
                      </div>
                    </div>
                    <div class="col-md-12 text-center">
                      <i class="fa fa-chevron-up close_search" ng-click="toggleSearchBar('close')"></i>
                    </div>

                  </div>

                </div>
              </div>
            </div>
            <div id="task_div" ng-cloak>
              <ul id="task-list">
                <div id="left_side_tasks" infinite-scroll="loadMore()" infinite-scroll-disabled="busyLoadingData" infinite-scroll-parent="true">
                  <li ng-if="tasks.length!=0" ng-click="showInfo(event, task)" class="task-thumb task-thumb-$index" id="task_$index" ng-repeat="task in tasks track by $index"
                    ng-class="{'active': task.id == active}">
                    <div class="task-left"><img width="70" src="{{task.user_image}}" fallback-src><span class="task-author">
								<a href="<?= base_url() ?>taskercontroller/tasker_profile/{{task.user_id}}" class="user-fullname">{{task.name}}</a>
								</span><span class="user-reviews"><a href="<?= base_url() ?>taskercontroller/tasker_profile/{{task.user_id}}#reviews">
								<!--?= $total_records;?-->reviews</a></span></div>
                    <div class="task-details">
                      <a href="<?= base_url() ?>task_overview?id={{task.id}}">{{task.task_title}}</a>
                      <div class="task-description">
                        <p>{{task.task_description}}</p>
                      </div>
                    </div>
                    <div class="task-right"><span>${{task.task_budget}}</span></div>
                    <!--<div ng-show="busy">Loading data...</div>-->
                  </li>
                  <div ng-if="tasks.length==0">No data Found </div>
                </div>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-8 no-padding">
        <div ng-if="pauseLoading">
          <h1>Add loading spinner</h1>
        </div>
        <div ng-if="!pauseLoading">
          <div id="browser-filter">
            <ng-map zoom="6" center="56.0719662, -112.0465107" id="map" scrollwheel="false" zoom-to-include-markers="true">
              <info-window id="myInfoWindow" template="/frontend/tasks/view/task-window.html" visible-on-marker="{{showOnThisMarker}}">
              </info-window>
              <marker ng-if="task.latitude" ng-repeat="task in tasks" icon="{ url:'/assets/img/help-logo.png', scaledSize:[25,25], origin: [0,0], anchor: [100,100] }"
                position="{{task.latitude}},{{task.longitude}}" title="{{task.task_title}}" on-click="showInfo(event, task)"
                id="marker_{{task.id}}">
              </marker>
            </ng-map>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>