<!-- Modal My Task Popup -->
<div id="my_task_popup" role="dialog" class="global-modal">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">
        <!-- Tasks Detail  -->
        <div class="col-md-6 no-pad-left" id="task_detail">
          <div class="col-md-3 no-pad-left tasker_dtl">
            <div class="img-holder">
              <img fallback-src="{{fallbackImage}}" ng-src="{{taskdata.user_image}}" alt="User Image">
            </div>           

            <span id="user_rating" class="col-md-12 no-padding" 
            uib-rating 
            ng-model="taskdata.avg_rate" 
            max="5" 
            titles="ratingTitle"
            read-only="true" 
            on-leave="overStar = null" 
            aria-labelledby="default-rating"></span>

          <div id="user_name" class="col-md12 no-padding"><a href="{{site_url}}taskercontroller/tasker_profile/{{taskdata.user_id}}" class="text-center">{{taskdata.name}}</a></div> 
          </div>
          <div class="col-md-5 no-padding budget_price">
            <p id="budget"><span class="pull-left">Offered</span> <span class="pull-right" ng-if="taskdata.task_budget">${{taskdata.task_budget}}</span> <span class="pull-right" ng-if="!taskdata.task_budget">N/A</span></p>

            <!-- TODO:  no data in database for agreed price -->
            <p id="agreed_price">
              <span class="pull-left">Agreed Price</span> 
              <span class="pull-right" ng-if="taskdata.awarded == 1" >$0</span>
              <span class="pull-right" ng-if="taskdata.awarded == 0" >N/A</span>
            </p>
            <div class="col-md-12 no-padding payment_methods">
              <span id="paypal_active"><i class="fa fa-paypal" ng-class="taskdata.paypal_active==1 && 'over-icons'" uib-popover="Paypal" popover-trigger="'mouseenter'"></i></span>

              <span id="stripe_active"><i class="fa fa-cc-stripe" ng-class="taskdata.stripe_active==1 && 'over-icons'" uib-popover="Stripe" popover-trigger="'mouseenter'"></i></span>

              <span id="cash_active"><i class="fa fa-usd" ng-class="taskdata.cash_active==1 && 'over-icons'" uib-popover="Cash" popover-trigger="'mouseenter'"></i></span>
            </div>
          </div>
          <div class="col-md-4 no-pad-right">
          <!-- TODO: functionality remain to send message -->

            <a href="#" ng-if="taskdata.awarded == 1" ng-click="sendMessage(taskdata.user_id, 'lg')" class="btn btn-default send_message">Message</a>
            <a href="#" ng-if="fnt_type == 'employer' && taskdata.awarded == 1 && taskdata.completed == 1" ng-click="task_completed_fnt(fnt_type,awarded_to, 'lg')" class="btn btn-default completed"  ng-disabled="disabledBtn1">Pay</a>
            <a href="#" ng-if="fnt_type == 'employer' && taskdata.awarded == 1 && taskdata.completed == 0" ng-click="task_completed_fnt(fnt_type,awarded_to, 'lg')" uib-popover="Wait for task to complete"  ng-disabled="true" class="btn btn-default completed">Complete</a>
            

            
            <a href="#" ng-if="fnt_type == 'tasker' && taskdata.awarded == 1 && taskdata.completed == 0" ng-click="task_completed_fnt('complete',awarded_to, 'lg')" uib-popover="Wait for task to complete" class="btn btn-default completed">Complete</a>
            <a href="#" ng-if="fnt_type == 'tasker' && taskdata.awarded == 1 && taskdata.completed == 1" ng-click="task_completed_fnt(fnt_type,awarded_to, 'lg')" uib-popover="Wait for task to complete"  ng-disabled="disabledBtn1" class="btn btn-default completed">Review</a>
            


            <!--<div ng-bind-html="renderHtml(comlete_button)"></div>-->
          </div>

          <!--<input type="hidden" name="user_id" ng-model="taskdata.current_user_id" ng-init="taskdata.current_user_id=current_user_id" /> 
            <input type="hidden" name="awarded_to" ng-model="taskdata.awarded_to" ng-init="taskdata.awarded_to=awarded_to" /> -->

          <hr>

          <div class="col-md-12 no-padding map_repost">
            <div class="col-md-4 no-pad-left" ng-if="taskdata.awarded == 1 || taskdata.completed == 1">
              <a href="#" ng-click="toggleMap()" class="btn btn-default">Map</a>
            </div>
            <div class="col-md-4 no-padding">
              <a href="#" id="repost_task" ng-click="postTask(taskdata.id, 'lg')" class="btn btn-default">Repost</a>
            </div>
            
          </div>

          <div ng-if="taskdata.awarded == 1 || taskdata.completed == 1" ng-hide="toggle" class="col-md-12 no-padding show_map">
            <ng-map zoom="10"
              center="{{taskdata.location}}" >
              <directions
                draggable="false"
                panel="directions-panel"
                travel-mode="DRIVING"
                origin="{{taskdata.location}}"
                destination="{{mapdata.lat}},{{mapdata.lng}}">
              </directions>
              </custom-marker>
            </ng-map>
          </div>

          <div class="col-md-12 no-padding task_details">
            <h6 class="text-center">Task Details</h6>
              <div class="col-md-12 no-padding">
                <div class="col-md-3 no-pad-left">
                  Posted
                </div>
                <div class="col-md-5 no-padding" id="date_posted">
                  <span ng-if="taskdata.task_date">{{taskdata.task_date | date:'EEEE dd, MMM, yyyy'}}</span>
                  <span ng-if="!taskdata.task_date">No Data Found</span>
                </div>
                <div class="col-md-4 no-pad-right" id="date_posted_stamp" am-time-ago="taskdata.task_date"></div>
              </div>
            <div class="col-md-12 no-padding">
              <div class="col-md-3 no-pad-left">
                Tasked
              <span ></span>
              </div>
              <!-- TODO:  no data in database for tasked date -->
              <div class="col-md-5 no-padding" id="date_tasked">
                Monday 24, Feb, 2016
              </div>
              <div class="col-md-4 no-pad-right" id="date_tasked_stamp">a day ago</div>
            </div>
            <div class="col-md-12 no-padding" ng-if="taskdata.completed == '1' ">
              <div class="col-md-3 no-pad-left">
                Completed
              </div>
              <div class="col-md-5 no-padding" id="date_completed">
                <span ng-if="taskdata.completed_date">{{taskdata.completed_date | date:'EEEE dd, MMM, yyyy'  }}</span>
                <span ng-if="!taskdata.completed_date">No Data Found</span>
              </div>
              <div class="col-md-4 no-pad-right" id="date_completed_stamp" am-time-ago="taskdata.completed_date"></div>
            </div>

            <p id="task_description">{{taskdata.task_description}}</p>
          </div>

          <div class="col-md-12 text-right no-padding share_task">
            <i
              socialshare
              socialshare-provider="facebook"
              socialshare-text="Taskoli"
              socialshare-title="{{taskdata.task_title}}"
              socialshare-description="{{taskdata.task_description}}"
              socialshare-url="{{site_url}}task_overview?id={{taskdata.id}}"
              class="fa fa-facebook-official" 
              aria-hidden="true"></i>

              <i
              socialshare
              socialshare-provider="twitter"
              socialshare-text="{{taskdata.task_title}}"
              socialshare-hashtags="Taskoli"
              socialshare-url="{{site_url}}task_overview?id={{taskdata.id}}"
              class="fa fa-twitter-square" 
              aria-hidden="true"></i>

              <i
              socialshare
              socialshare-provider="google"
              socialshare-url="{{site_url}}task_overview?id={{taskdata.id}}"
              class="fa fa-google-plus-square" 
              aria-hidden="true"></i>

            </div>

        </div>
        <!-- Tasks List  -->
        <div class="col-md-6 no-pad-right" id="tasks_list">
          <ul class="nav nav-tabs">
            <li ng-class="(itemClicked=='employer') ? 'active' : ''"><a data-toggle="tab" href="#employer_data">Employer</a></li>
            <li ng-class="(itemClicked=='tasker') ? 'active' : ''"><a data-toggle="tab" href="#tasker_data">Tasker</a></li>
          </ul>

          <div class="tab-content">
            <div id="employer_data" class="tab-pane fade in" ng-class="(itemClicked=='employer') ? 'active' : ''">
              <div class="col-md-12 no-padding task_status">
                <label ng-model="employer_search.task_status" uib-btn-radio="'all'">All</label>
                <label ng-model="employer_search.task_status" uib-btn-radio="'open'">Open</label>
                <label ng-model="employer_search.task_status" uib-btn-radio="'tasked'">Tasked</label>
              </div>
              <div class="col-md-12 no-padding task_search_sort">
                <input type="text" class="form-control pull-left ng-pristine ng-untouched ng-valid ng-not-empty" placeholder="Search..." name="detailed_search" ng-model="employer_search.detailed_search" >
                <select class="form-control pull-right" name="task_sort" id="task_sort" ng-model="employer_search.task_sort">
                  <option value="0">Sort by</option>
                  <option value="price_hight">Price High</option>
                  <option value="price_low">Price Low</option>
                  <option value="dated">Date</option>
                </select>
              </div>

              <div class="col-md-12 no-padding tasks_details">
                <ul>
                  <li id="task_$index" task_id={{task.id}} ng-repeat="task in employerTasks track by $index" ng-click="get_task_data('employer',task.id,task.latitude,task.longitude)" ng-init="itemClicked=='employer' && $index==0 && get_task_data(itemClicked,employerTasks[0].id,task.latitude,task.longitude)" ng-class="{'selected': task.id == selected}">
                    <div class="col-md-12 no-padding">
                      <span id="posted_title" class="pull-left">{{task.task_title}}</span> 
                      <span id="posted_date" class="pull-right">{{task.task_date | date:'MMMM, dd, yyyy'  }}</span>
                    </div>
                    <p>{{task.task_description}}</p>
                  </li>
                </ul>
              </div>
            </div>
            <div id="tasker_data" class="tab-pane fade in" ng-class="(itemClicked=='tasker') ? 'active' : ''">
              <div class="col-md-12 no-padding task_status">
                <label ng-model="tasker_search.task_status" uib-btn-radio="'offers'">Offers</label>
                <label ng-model="tasker_search.task_status" uib-btn-radio="'tasked'">Tasked</label>
                <label ng-model="tasker_search.task_status" uib-btn-radio="'completed'">Completed</label>
              </div>
              <div class="col-md-12 no-padding task_search_sort">
                <input type="text" class="form-control pull-left ng-pristine ng-untouched ng-valid ng-not-empty" placeholder="Search..." name="detailed_search" ng-model="tasker_search.detailed_search">
                <select class="form-control pull-right" name="task_sort" id="task_sort" ng-model="tasker_search.task_sort">
                  <option value="0">Sort by</option>
                  <option value="price_hight">Price High</option>
                  <option value="price_low">Price Low</option>
                  <option value="dated">Date</option>
                </select>
              </div>

              <div class="col-md-12 no-padding tasks_details">
                <ul>
                  <!-- <li id="task_$index" ng-repeat="task in emolpyerTasks track by $index" ng-click="myTasks(task.id)">
                    <div class="col-md-12 no-padding"> 
                      <span id="posted_title" class="pull-left">Task Title</span> 
                      <span id="posted_date" class="pull-right">date posted</span>
                    </div>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                  </li> -->

                  <li id="task_$index" task_id={{task.id}} ng-repeat="task in taskerTasks track by $index" ng-click="get_task_data('tasker',task.id,task.latitude,task.longitude)" ng-init="itemClicked=='tasker' && $index==0  && get_task_data(itemClicked,taskerTasks[0].id,task.latitude,task.longitude)" ng-class="{'selected': task.id == selected}">
                    <div class="col-md-12 no-padding"> 
                      <span id="posted_title" class="pull-left">{{task.task_title}}</span> 
                      <span id="posted_date" class="pull-right">{{task.task_date | date:'MMMM, dd, yyyy'  }}</span>
                    </div>
                    <p>{{task.task_description}}</p>
                  </li>

                </ul>
              </div>
            </div>
          </div>
        </div>
  </div>
</div>
