/*-------------------------
    Simple reset
--------------------------*/



/*-------------------------
    General Styles
--------------------------*/



/*----------------------------
    The file upload form
-----------------------------*/


#upload,#upload1{
    font-family:'PT Sans Narrow', sans-serif;
    background-color:#373a3d;

    background-image:-webkit-linear-gradient(top, #373a3d, #313437);
    background-image:-moz-linear-gradient(top, #373a3d, #313437);
    background-image:linear-gradient(top, #373a3d, #313437);

/*    width:250px;*/
    padding:30px;
    border-radius:3px;

/*    margin:200px auto 100px;*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#drop{
    background-color: #2E3134;
    padding: 25px;
    margin-bottom: 15px;
    border: 20px solid rgba(0, 0, 0, 0);
    border-radius: 3px;
    border-image: url('../img/border-image.png') 25 repeat;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
}

#drop a{
    background-color:#007a96;
    padding:12px 26px;
    color:#fff;
    font-size:14px;
    border-radius:2px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0986a3;
}

#drop input{
    display:none;
}

#upload ul,
#upload1 ul{
    list-style:none;
    margin:0 -30px;
    border-top:1px solid #2b2e31;
    border-bottom:1px solid #3d4043;
}

#upload ul li,
#upload1 ul li{

    background-color:#333639;

    background-image:-webkit-linear-gradient(top, #333639, #303335);
    background-image:-moz-linear-gradient(top, #333639, #303335);
    background-image:linear-gradient(top, #333639, #303335);

    border-top:1px solid #3d4043;
    border-bottom:1px solid #2b2e31;
    padding:15px;
    height: 72px;

    position: relative;
}

#upload ul li input,
#upload1 ul li input{
    display: none;
}

#upload ul li p,
#upload1 ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 14px;
    font-weight: bold;
    position: absolute;

    left: 100px;
}

#upload ul li i,
#upload1 ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas,
#upload1 ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span,
#upload1 ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span,
#upload1 ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p,
#upload1 ul li.error p{
    color:red;
}

.task-off {
	border: 0px;
 	height: 244px;
    max-height: 244px !important;
    padding: 0px !important;
    background-size: cover !important;
}

.task-off img {
    height: 200px;
    max-width: 247px;
}


.task-offa {
border: 0px;
background: url('../img/Office-task.png');
 height: 244px;
    max-height: 244px !important;
    padding: 0px !important;
    background-size: cover;
}

.task-offb {
border: 0px;
background: url('../img/Welder_2-task.png');
 height: 244px;
    max-height: 244px !important;
    padding: 0px !important;
    background-size: cover;

}


.task-offc {
border: 0px;
background: url('../img/skill.png');
 height: 244px;
    max-height: 244px !important;
    padding: 0px !important;
    background-size: cover;

}


.task-offd {
border: 0px;
background: url('../img/truck-task.png');
 height: 244px;
    max-height: 244px !important;
    padding: 0px !important;
    background-size: cover;

}

.task-offe {
border: 0px;
background: url('../img/sap-erp-automotive.jpg');
 height: 244px;
    max-height: 244px !important;
    padding: 0px !important;
    background-size: cover;

}


.task-offf {
border: 0px;
background: url('../img/household-task.png');
 height: 244px;
    max-height: 244px !important;
    padding: 0px !important;
    background-size: cover;

}


.task-offg {
border: 0px;
background: url('../img/yardwork.png');
 height: 244px;
    max-height: 244px !important;
    padding: 0px !important;
    background-size: cover;

}

.task-offh {
border: 0px;
background: url('../img/list-1.jpg');
 height: 244px;
    max-height: 244px !important;
    padding: 0px !important;
    background-size: cover;

}



.task-box-head {

      font-size: 14px !Important;
    text-transform: inherit !important;
    padding: 7px;
   bottom: 0px;
   left: 0px; 
    text-align: left !important;
     width: 100%;


    /* padding-top: 200px; */
    position: absolute;
    color: #26a8e0;
    background: rgba(255, 255, 255, 0.88);
margin-bottom: 0px;
}

.task-box-heada {

      font-size: 14px !Important;
    text-transform: inherit !important;
    padding: 7px;
   
 left: 0px; 
    text-align: left !important;
     width: 100%;
margin-bottom: 0px;

    bottom: 0px;
    position: absolute;
    color: #26a8e0;
    background: rgba(255, 255, 255, 0.88);

}

.search_categories .row .col-md-3 {
    cursor: pointer;
margin-bottom: 16px;
}

@media screen and (min-width: 768px) {

.search_categories .row .col-md-3 {

width: 23%;
    margin-right: 18px;
}


}


.search_categories .row .col-md-3:hover {

opacity: .7;
}

.col-md-12.date-time {
    padding-left: 0px;
}

.col-md-6.task-gif {
    padding-left: 30px;
}


h6.text-uppercase {
    padding-top: 20px;
}


.col-md-3.no-padding.scroll-messag {
    overflow-x: hidden;
    overflow-y: scroll;
}