<section id="footer">
<div class="container">
<div class="row">
                <div class="col-md-2">
                    <h6>Account</h6>
                    <ul class="footer-links">
                        <li><a href="#" class="signup_popup">Sign Up</a></li>
                        <li><a href="#" class="login_popup">Login</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h6>About</h6>
                    <ul class="footer-links">
                        <li><a href="<?= base_url('pages/about');?>">About Us</a></li>
                        <li><a href="<?= base_url('pages/contact');?>">Contact</a></li>
                        <li><a href="#" data-toggle="modal" data-target="#report_a_bug">Report a bug</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h6>Support</h6>
                    <ul class="footer-links">
                        <li><a href="<?= base_url('/leaderboard');?>">Top Taskers</a></li>
                        <li><a href="<?= base_url('pages/mpr');?>">Marketplace Rules</a></li>
                        <li><a href="<?= base_url('pages/tos');?>">Terms and Conditions</a></li>
                        <li><a href="<?= base_url('pages/privacy');?>">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-md-2">
                    <h6>Stay connected!</h6>
                    <ul class="social-links list-inline">
                        <li><a href="https://www.facebook.com/Taskoly-1656040688005545/"><i class="icon icon-facebook"></i></a></li>
                        <li><a href="#"><i class="icon icon-twitter"></i></a></li>
                        <li><a href="https://plus.google.com/104238048138791457671/posts?hl=en-GB"><i class="icon icon-google-plus"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <h6>Newsletter</h6>
                    <form class="form-horizontal">
                        <div class="form-group">
                            <div class="col-md-9 col-xs-8"><input type="text" class="form-control" name="newsletter" placeholder="Email Address" /></div>
                            <div class="col-md-3 col-xs-4"><button type="submit" class="btn btn-primary">Subscribe</button></div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
</section>