<nav class="navbar navbar-default top_nav" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle toggle-nav"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
      <a class="navbar-brand" ui-sref='home'> <img src="content/img//taskoly-logo.png" fallback-src> </a>
    </div>
    <!-- Collect the nav links, forms, and other content for toggling -->

    <div class="navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right" ng-if="!app.user">
        <li> <a ng-click="app.openLogin()" class="login_popup">Login</a> </li>
        <li> <a ng-click="app.openReg()" class="btn btn-default signup_popup sign-topbar">Join the Tribe</a> </li>
        <li> <a ng-click="app.toggleRight()" class="toggle-nav"><i class="fa fa-bars"></i></a> </li>
      </ul>
      <ul class="nav navbar-nav navbar-right" ng-if="app.user">
        <!-- <a data-toggle="modal" data-target="#my_task_popup" id="my_task_popup_api">My Tasks</a> -->
        <md-menu-bar>
          <md-menu>
            <button class="md-button md-raised md-default" ng-click="$mdOpenMenu()">
              My Tasks
            </button>
            <md-menu-content>
              <md-menu-item>
                <md-menu-item>
                  <md-button ng-click="app.myTasks('employer', 'lg');">View as Employer</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="app.myTasks('tasker', 'lg');">View as Tasker</md-button>
                </md-menu-item>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <md-menu>
            <a ng-click="$mdOpenMenu()" class="nav-profile-photo img-circle">
              <img ng-src="{{app.photo}}" fallback-src>
            </a>
            <md-menu-content>
              <md-menu-item>
                <md-menu-item>
                  <md-button ng-click="app.myTasks('employer', 'lg');">View Profile</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="app.myTasks('tasker', 'lg');">Edit Profile</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="app.myTasks('tasker', 'lg');">Messages</md-button>
                </md-menu-item>
                <md-menu-item>
                  <md-button ng-click="app.myTasks('tasker', 'lg');">Membership</md-button>
                </md-menu-item>
              </md-menu-item>
            </md-menu-content>
          </md-menu>
          <a ng-click="app.logout()" class="btn btn-default signup_popup sign-topbar">Logout</a>
          <a ng-click="app.toggleRight()" class="btn btn-default signup_popup sign-topbar"><i class="fa fa-bars"></i></a>
        </md-menu-bar>
      </ul>
      <ul class="nav navbar-nav navbar-left">
        <li><a ng-click="app.postTask()" class="btn btn-primary btn-lg login_popup">Task-it-Out</a></li>
        <li><a ui-sref="browse-tasks">Lend a Hand</a></li>
        <li><a ui-sref="page.how">How to Taskoli</a></li>
      </ul>
    </div>
  </div>
</nav>