 <md-sidenav class="md-sidenav-right" md-component-id="slide-menu"
                md-disable-backdrop md-whiteframe="4">

      <md-toolbar class="md-theme-light-blue">
        <h1 class="md-toolbar-tools">Menu</h1>
      </md-toolbar>
      <md-content layout-margin>
        <md-list-item ng-click="navigateTo(setting.extraScreen, $event)">
          All pages will go here
        </md-list-item>
         <md-list-item ng-click="navigateTo(setting.extraScreen, $event)">
          All pages will go here
        </md-list-item>
        <md-button ng-click="toggleRight()" class="md-primary">
          Close this Sidenav
        </md-button>
      </md-content>
</md-sidenav>